[auth]
consumer_key = s6X0EpnIxpOjhQWsHbLoivJiD
consumer_secret = N0xehGpzPfTqbIdjf3vZE8HDsneIP3A2tkavEgXO6S7oKe0qo2
access_token_key = 514392253-4Awpw43OB9UnwOIUv2GK44ETrioxJpYxCft77HzU
access_token_secret = DZY26bP6od1TQ4n5Xy059a9GE54VlZNzoPVBWEsf34a13
